#target{
    width: 200px;
    padding-top:80px;
    margin-left: 350px;
}

#target2{
    width: 500px;
    padding-top:40px;
    padding-right:50px;
}

#health{
    color: yellow;
    font-size: 50px;
    text-align: right;
}

#health2{
    color: purple;
    font-size: 50px;
    text-align: center;
}

#btn {
    font-size: 50px;
}

.backdrop{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    z-index: -1;
    max-width: none;
    width:100vw;
}

html{
    overflow-x:hidden;
    overflow-y:hidden;
}

#message{
    font-size: 50px;
    color: white;
}
#text {
    font-size: 60px;
    color: white;
}